<h3>Welcome to About Us</h3>
<div class="CSSTableGenerator">
    <table>
        <tr>
            <td colspan="3">A family coffee roasting company, bringing quality to other connoisseurs .</td>
        </tr>
        <tr>
            <td colspan="2">  
					<div class="logo">   
					##.......................####<br/>
					##.......................##    ##<br/>
					##.......................##     ##<br/>
					##.......................##   ##<br/>
					 ##....................###<br/>
 					  ##...............##<br/>
 					      ##########<br/>
  					      ###########<br/>
					   #################<br/>
						COFFEE SHOP
					</div>
			</td>
        </tr>
        <tr>
            <td> 
				<div class="homePageLeftColumn">
					Company History: <br/>Coffee always ran in the family. 
					company history: My father loved coffee and would collect various sorts and different roasts and I grew up with a similar appreciation of coffee. 
					My appreciation spanned beyond the mainstream outlet psudo-coffee breweries of corporations. Now this is my little company run from home!<br/> Text Filler Text Filler Text Filler Text Filler Text Filler Text Filler Text Filler Text Filler Text Filler Text Filler 
				</div>
			</td>
            <td>				
					<div class="homePageRightColumn">Personal history:<br/> I grew up with a passion for science and technology. I followed my father's career footsteps to be a programmer and got interested in coffee on the side. It was an unexpected turn of events that I managed to do both at the same time. My passion for programming and my passion for the best coffee brew are brought to you in this page.<br/> Text Filler Text Filler Text Filler Text Filler Text Filler Text Filler Text Filler Text Filler Text Filler Text Filler </div>
			</td>
        </tr>
        <tr>
            <td colspan="2">Our warehouses were acquired from former coffee sellers and were fully refurbished and certified for service. You can be guaranteed that your coffee is handled with the utmost care and precaution to ensure that you get the best selected beans in the batch. Our facility undergoes regular annual inspections from various certified agencies to make sure thee business is clean.</td>
        </tr>
    </table>
</div>