<h3>Welcome to Contact Us</h3>
	<div class="CSSTableGenerator">
		<table>
			<tr>
				<td>Stores</td>
				<td>Phones</td>
				<td>Emails</td>
				<td>Help with Shipping</td>
				<td>Customer Support</td>
			</tr>
			<tr>
				<td>Address 1</td>
				<td>phone# 1</td>
				<td>email 1</td>
				<td>Shipping 1</td>
				<td>Customer Support 1</td>								
			</tr>
			<tr>
				<td>Address 2</td>
				<td>phone# 2</td>								
				<td>email 2</td>
				<td>Shipping 2</td>
				<td>Customer Support 2</td>								
			</tr>
			<tr>
				<td>Address 3</td>
				<td>phone# 3</td>								
				<td>email 3</td>
				<td>Shipping 3</td>
				<td>Customer Support 3</td>								
			</tr>
			<tr>
				<td>Address 4</td>
				<td>phone# 4</td>								
				<td>email 4</td>
				<td>Shipping 3</td>
				<td>Customer Support 4</td>								
			</tr>
			<tr>
				<td>Address 5</td>
				<td>phone# 5</td>								
				<td>email 5</td>
				<td>Shipping 3</td>
				<td>Customer Support 5</td>								
			</tr>
			<tr>
				<td>Address 6</td>
				<td>phone# 6</td>								
				<td>email 6</td>
				<td>Shipping 6</td>
				<td>Customer Support 6</td>								
			</tr>														
			</table>
						
			<table>
				<tr>
					<td>
					<div class="logo">      
					##.......................####<br/>
					##.......................##    ##<br/>
					##.......................##     ##<br/>
					##.......................##   ##<br/>
					 ##....................###<br/>
 					  ##...............##<br/>
 					      ##########<br/>
  					      ###########<br/>
					   #################<br/>
						COFFEE SHOP
					</div>
					</td>
				</tr>
			</table>
						
			<table>
				<tr>
					<td colspan="2">
						Hours of Operation
					</td>
				</tr>
				<tr>
					<td>
						Weekdays
					</td>
					<td>
						Weekends and Holidays
					</td>								
				</tr>							
				<tr>
					<td>
						* Monday: time-time<br/>
						* Tuesday: time-time<br/>
						* Wednesday: time-time<br/>		
						* Thursday: time-time<br/>	
						* Friday: time-time<br/>																																	
					</td>
					<td>
						time-time
					</td>									
				</tr>
			</table>			
	</div>	