<h3>Welcome to Help Page</h3>
					<div class="CSSTableGenerator">
						<table>
							<tr>
								<td>Questions about Fair Trade</td>
								<td>Questions about coffee</td>
								<td>Questions about roasting</td>
								<td>Questions about brewing</td>
								<td>Questions asked about taste</td>
								<td>Questions about color</td>
								<td>Questions about growth</td>																																
							</tr>
							<tr>
								<td>What is Fair Trade?</td>
								<td>What is coffee?</td>
								<td>How is coffee roasted?</td>
								<td>What methods of brewing are there?</td>
								<td>Which varieties have best taste?</td>
								<td>What determines bean color?</td>
								<td>How is coffee grown?</td>								
							</tr>
							<tr>
								<td>Example answer here</td>
								<td>Example answer here</td>
								<td>Example answer here</td>
								<td>Example answer here</td>
								<td>Example answer here</td>
								<td>Example answer here</td>
								<td>Example answer here</td>								
							</tr>							
							<tr>
								<td>How does Fair Trade work?</td>
								<td>How does coffee hurt?</td>
								<td>What is the difference between roasts?</td>
								<td>Which methods of brewing are better?</td>
								<td>Which varieties top in taste?</td>
								<td>What affects coffee color?</td>
								<td>What affects coffee growth?</td>								
							</tr>
							<tr>
								<td>Example answer here</td>
								<td>Example answer here</td>
								<td>Example answer here</td>
								<td>Example answer here</td>
								<td>Example answer here</td>
								<td>Example answer here</td>
								<td>Example answer here</td>								
							</tr>								
							<tr>
								<td>Where does Fair Trade work?</td>
								<td>How does coffee harm?</td>
								<td>Which roasts are better?</td>
								<td>How was coffee originally brewed?</td>
								<td>What determines taste?</td>
								<td>Which is the best color?</td>
								<td>Origin of coffee growth</td>								
							</tr>
							<tr>
								<td>Example answer here</td>
								<td>Example answer here</td>
								<td>Example answer here</td>
								<td>Example answer here</td>
								<td>Example answer here</td>
								<td>Example answer here</td>
								<td>Example answer here</td>								
							</tr>								
						</table>
					</div>