<h3>Welcome to Home Page</h3>
<div class="CSSTableGenerator">
    <table>
        <tr>
            <td colspan="3">Importers of specialty coffees from all over the world.</br> We bring you the finest beans and the best roasts.</td>
        </tr>
        <tr>
            <td colspan="3">
				We work hard to find the best coffees so your morning cup of joe is everything but average!			
			</td>
        </tr>
        <tr>
            <td> 
				<div class="homePageLeftColumn">
							We import favorite coffees from countries like: </br></br>
						Mexico</br>
							~Costa Rica</br>
							~Colombia</br>
							~Ecuador</br>
							~Bolivia</br>
							~Chile</br>
							~Argentina</br>
							~Brazil</br>
							~Guatemala</br>
							~Puerto Rico</br>
							~Hawaii</br>
							~Vietnam</br>
							~Indonesia</br>
							~India</br>
							~Ethipia</br>
							~Somalia</br>
							~India</br>
							~Singapore</br>
				</div>
			</td>
            <td><img class="homePageImage" src="images/coffees.jpg"/></td>
            <td>				
					<div class="homePageRightColumn">
							Our warehouses stock coffee from all regions: </br></br>
							~Mountain-grown</br>
							~Shade-grown</br>
							~Cultured</br><br/>

							We also have seasoned coffee for spice lovers: </br><br/>
							~Holiday spice</br>
							~Cheyenne spice</br>
							~Cinnamon spice</br>
							~Mint infusion</br>
							~Caramel spice</br>
							~Chocolate infusion</br>
							~Lemon zest</br>
							~So many more...</br>
					</div>
			</td>
        </tr>
        <tr>
            <td colspan="3">At the Coffee Shop, you can select any coffee you like, be it traditional, seasonal, or a custom blend. We make sure to give you the widest variety to chose from. <br/>
			Do you like a coffee that we do not have? Make sure to go to our contact us page to fill out a form by email and send it to us and customer support will be happy to order it and include it in our inventory. <br/>
			Our website and selection is ever-expanding. Be sure to visit us to see what's new for your brew!
			</td>
        </tr>
    </table>
</div>